body {
	background-color: #f6f6f6;
	font-family: Helvetica, Arial, sans-serif;
	margin: 0 auto;
}

.maintenance-box {
	width: 45em;
	margin: 12em auto;
}

.maintenance-header {
	width: 45em;
	padding: 1em;
	font-size: 0.9em;
	font-weight: bold;
	border-radius: 0.4em 0.4em 0 0;
	border-color: #bac0cf;
	border-style: solid solid none;
	border-width: 0.1em 0.1em medium;
	background-color: #479ee7;
	color: white;
	text-align: center;
}

.maintenance-body {
	width: 38.5em;
	border-color: #bac0cf;
	border-style: solid;
	border-width: 0 0.1em 0.1em 0.1em;
	position: relative;
	padding: 1em 1.9em;
	background: #FFFFFF;
	display: flex;
}

.maintenance-body-logo {
	padding: 1em;
}

.maintenance-body-text {
	padding: 1em;
}
